/* Section 10 - Project - Todo List */
body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
  }
  .delete{
    cursor: pointer;
  }
  /* Logical rule that displays or hides based on whether an element has the class .filtered*/
  .filtered{
    display:none !important;
  }
